name: FluxTube Build APK

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]
  workflow_dispatch:

jobs:
  build:
    name: Build APK
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      # Menggunakan Java 17 sesuai targetCompatibility & jvmTarget di build.gradle
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      # Menggunakan Flutter 3.24.4 sesuai permintaan
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.24.4'
          channel: 'stable'
          cache: true

      - name: Get Dependencies
        run: flutter pub get

      # Membuat dummy keystore agar gradle tidak error saat build release
      # Karena build.gradle kamu mewajibkan adanya signingConfigs.release
      - name: Create Dummy Signing Files
        run: |
          # Buat dummy key.jks
          keytool -genkey -v -keystore android/key.jks -keyalg RSA -keysize 2048 -validity 10000 -alias keyAlias -storepass storePassword -keypass keyPassword -dname "CN=FluxTube, O=Fazilvk, C=ID"
          
          # Buat file key.properties yang dibutuhkan oleh build.gradle
          echo "storePassword=storePassword" > android/key.properties
          echo "keyPassword=keyPassword" >> android/key.properties
          echo "keyAlias=keyAlias" >> android/key.properties
          echo "storeFile=key.jks" >> android/key.properties

      - name: Build APK Release
        run: flutter build apk --release

      # Mengunggah hasil APK agar bisa diunduh dari tab Actions
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: FluxTube-APK
          path: build/app/outputs/flutter-apk/app-release.apk
